@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100% !important; /* iOS/Safari and some WebKit browsers */
  -ms-text-size-adjust: 100%;     /* IE/Edge */
  text-size-adjust: 100% !important;
}
/* Utility: Hide scrollbars on mobile */
body {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

