@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

:root {
  --design-width: 440;
  font-size: clamp(14px, calc(16px * (100vw / var(--design-width))), 18px);
}
/* Utility: Hide scrollbars on mobile */
body {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

