@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --design-width: 440; /* your Moto G64 width */
}

body {
  transform: scale(calc(100vw / var(--design-width)));
  transform-origin: top left;
  width: var(--design-width);
}

